<div *ngIf="!isLoading" class="row">
  <div class="col-lg-10 col-lg-offset-2 m-t-lg">
    <a [routerLink]="['../']" class="text-navy m-b-sm"> <<< Back</a>
    <div class="row">
      <div *ngIf="box.pop" class="ibox col-md-5">
        <div class="ibox-title">
          <h5>Proof of payment</h5>
        </div>
        <div class="ibox-content">
          <img src="{{box.pop.url}}" class="img" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="ibox-content navy-bg text-center">
              <div class="m-b-sm">
                <img alt="image" class="img-circle" src="{{getGrav(box.donor.lemail)}}">
              </div>

              <h3>{{box.donor.firstname}} {{box.donor.lastname}}</h3>

              <p class="font-bold">Donor</p>

              <div class="text-center">
                <a class="btn btn-xs btn-primary">View </a>
                <a class="btn btn-xs btn-danger">Suspend</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="ibox-content navy-bg text-center">
              <div class="m-b-sm">
                <img alt="image" class="img-circle" src="{{getGrav(box.beneficiary.lemail)}}">
              </div>

              <h3>{{box.beneficiary.firstname}} {{box.beneficiary.lastname}}</h3>

              <p class="font-bold">Beneficiary</p>

              <div class="text-center">
                <a class="btn btn-xs btn-primary">View </a>
                <a class="btn btn-xs btn-danger">Suspend</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-t-lg">
          <div class="col-md-12">
            <div class="ibox">
              <div class="ibox-content">
                <h5>Status</h5>
                <p>{{getConfirmationStatus(box.confirmation_status)}}</p>
                <a *ngIf="box.confirmation_status < 2" class="btn btn-sm btn-success">Confirm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>