<div class="full">
	<div>
		<div class="slide-overlay"></div>
		<div class="fp-tableCell">
			<div class="intro center-block">
				<div id="clock" class="container open-anim animated-middle fadeInUp">
					<div class="col-xs-6 col-sm-3 col-lg-3">
						{{_days | number:'2.0-0'}}
						<span>Days</span>
					</div>
					<div class="col-xs-6 col-sm-3 col-lg-3">
						{{_hours  | number:'2.0-0'}}
						<span>Hours</span>
					</div>
					<div class="col-xs-6 col-sm-3 col-lg-3">
						{{_minutes | number:'2.0-0'}}
						<span>Minutes</span>
					</div>
					<div class="col-xs-6 col-sm-3 col-lg-3">
						{{_seconds | number:'2.0-0'}}
						<span>Seconds</span>
					</div>
					<div class="row">
						<div>
							<h1>Welcome to Myswyftpay</h1>
							<span>Sign up to make 50% on all donations. Welcome to the your financial freedom</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-xs-offset-4 m-t-md">
							<a [routerLink]="['/register']" class="btn btn-white block">Sign Up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>