<div [ngStyle]="{display: getShow()}" class="small-chat-box small-chat fadeInRight animated" [hidden]="openChat">
  <div class="heading">
    Chat with support
  </div>
  <div #scrollMe class="slimScrollDiv">
    <div class="content">
      <div [@chatState] *ngFor="let message of messages" [ngClass]="getAuthor(message)">
        <div class="author-name">
          @{{message.author.username}} <small class="chat-date">{{message.sentAt | date }}</small>
        </div>
        <div class="chat-message active">
          {{message.text}}
        </div>
      </div>
    </div>
  </div>
  <div class="form-chat">
    <form (ngSubmit)="addMessage(m.value, m, f)" #f="ngForm">
      <div class="input-group input-group-sm"><input type="text" class="form-control" #m>
        <span class="input-group-btn"> 
          <button class="btn btn-primary" type="submit">Send </button> 
        </span>
      </div>
    </form>
  </div>
</div>

<div id="small-chat" *ngIf="!isAdmin()">

  <!--<span class="badge badge-warning pull-right">5</span>-->
  <a class="open-small-chat" (click)="toggleChat()">
    <i class="fa fa-comments"></i>

  </a>
</div>