<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>Dashboard</h2>
		</div>
	</div>


	<div class="row m-t-lg">
		<div class="col-sm-12 col-md-4 col-lg-4">
			<div class="ibox">
				<div class="ibox-content">
					<form (ngSubmit)="onSubmit()" #f="ngForm">
						<div class="form-group">
							<label>Write A Testimonial</label>
							<textarea name="text" ngModel required class="form-control" id="" #m="ngModel"></textarea>
						</div>
						<button [disabled]="!f.valid" type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Testimonial</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a class="close-link">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="feed-activity-list">

						<div class="feed-element" *ngFor="let message of messages">
							<div>
								<small class="pull-right text-navy">{{message.createdAt | amTimeAgo}}</small>
								<strong>{{message.from.firstname}} {{message.from.lastname}}</strong>
								<div>{{message.text}}</div>
								<!--<small class="text-muted">Today 5:60 pm - 12.06.2014</small>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>