<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="assets/img/logo.png"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a href="#features">How it works</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a [routerLink]="['/register']">Sign up</a></li>
          <li><a [routerLink]="['/login']">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>We address the needs <br> of our members through<br> the discovery and application of<br> unique Pairing Insights.</h1>
          <p>Our team philosophy, incentive structure and long-term focus <br>ensure strong collaboration across our members</p>

        </div>
        <div class="carousel-image wow zoomIn">
          <img src="assets/img/laptop.png" alt="laptop">
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back one"></div>

    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption blank">
          <h1>Working to positively <br> impact your future.</h1>
          <p>We understand that TIME Is an Asset. It's not about managing time.<br>It's about using time to manage wisely. 24hrs
            Matching
          </p>

        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back two"></div>
    </div>
  </div>
  <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<section id="pricing" class="pricing">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Membership Plans</h1>
        <p>Find below the list of Membership Plans</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 wow zoomIn">
        <ul class="pricing-plan list-unstyled">
          <li class="pricing-title">
            Basic
          </li>
          <li class="pricing-price">
            <h3>Donate <span><strong> &#8358;20,000 </strong> </span></h3>
          </li>
          <li>
            3:2 Matrix
          </li>
          <li>
            Auto Assign
          </li>
          <li>
            Prioritized Recycling
          </li>
          <li class="pricing-price">
            <h3>Receive <span><strong>&#8358;30,000 </strong> </span></h3>
          </li>

          <li>
            <a class="btn btn-primary btn-xs" [routerLink]="['/register']">Signup</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 wow zoomIn">
        <ul class="pricing-plan list-unstyled selected">
          <li class="pricing-title">
            Standard
          </li>
          <li class="pricing-price">
            <h3>Donate <span><strong> &#8358;50,000 </strong></span></h3>
          </li>
          <li>
            3:2 Matrix
          </li>
          <li>
            Auto-assign
          </li>
          <li>
            Prioritized Recycling
          </li>
          <li class="pricing-price">
            <h3>Receive <span><strong> &#8358;75,000 </strong></span></h3>
          </li>

          <li class="plan-action">
            <a class="btn btn-primary btn-xs" [routerLink]="['/register']">Signup</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 wow zoomIn">
        <ul class="pricing-plan list-unstyled">
          <li class="pricing-title">
            Super
          </li>
          <li class="pricing-price">
            <h3> Donate <span><strong> &#8358;100,000</strong></span> </h3>
          </li>
          <li>
            3:2 Matrix
          </li>
          <li>
            Auto-assign
          </li>
          <li>
            Prioritized Recycling
          </li>
          <li class="pricing-price">
            <h3>Receive <span><strong>&#8358;150,000 </strong></span></h3>
          </li>

          <li>
            <a class="btn btn-primary btn-xs" [routerLink]="['/register']">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
<section id="features" class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>How it works<br> <span class="navy"> Receive 50% reward on all donations</span> </h1>
      <p>24/7 customer care service available on your dashboard </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
      <div>
        <i class="fa fa-mobile features-icon"></i>
        <h2>1. Mobile Number Verification</h2>
        <p>A unique security code is sent to your mobile number to verify your identity.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-group features-icon"></i>
        <h2>2. Matching</h2>
        <p>As a verified member, you will be matched to provide help to two other verified members just like you. This means
          that you will have to share the money into two equal parts and then send each part to one of the members. For instance,
          if you choose the basic package (&#8358;20,000) you will have to pay #10,000 to one member and another &#8358;10,000
          to the second member</p>
      </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
      <img src="assets/img/perspective.png" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
      <div>
        <i class="fa fa-check features-icon"></i>
        <h2>3. Confirmation</h2>
        <p>You will then be required to upload the proof of your donation to each of the members so that they can confirm the
          receipt of your donation.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-usd features-icon"></i>
        <h2>4. Donation and Benefit</h2>
        <p>As soon as your donations have been confirmed by the recipients, you will be eligible to receive three donations
          from 3 different members just like you. And you will be matched to receive anytime between 24hrs to 1 week.</p>
      </div>
    </div>
  </div>

</section>
<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

  <!--<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow zoomIn">
        <i class="fa fa-group big-icon"></i>
        <!-- <h1 class="member_size">
          307,500
        </h1>
        <div class="testimonials-text">
          <i>"Registered Members"</i>
        </div> -->

  <!--</div>
    </div>
  </div>-->

</section>
<section *ngIf="messages.length > 0" class="comments gray-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Testimonials</h1>
      </div>
    </div>
    <div class="row features-block">
      <div class="col-lg-4" *ngFor="let message of messages">
        <div class="bubble">
          {{message.text}}
        </div>
        <div class="comments-avatar">
          <a href="" class="pull-left">
            <img alt="image" src="{{getGrav(message.from.lemail)}}">
          </a>
          <div class="media-body">
            <div class="commens-name">
              {{message.from.firstname}} {{message.from.lastname}}
            </div>
            <!--<small class="text-muted">Company X from California</small>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="gray-section contact">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Contact Us</h1>
        <p>Contact us through the following channels.</p>
      </div>
    </div>
    <div class="row m-b-lg">
      <div class="col-lg-3 col-lg-offset-3">
        <address>
          <strong><span class="navy">Phone Number</span></strong>
          <abbr title="Phone"></abbr> (234) 811-8485-961
        </address>
      </div>
      <div class="col-lg-4">
        <address>
          <strong><span class="navy">E-mail Address</span></strong>
          <abbr title="Email"></abbr> admin@instanttouch.net
        </address>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="mailto:support@instanttouch.net" class="btn btn-primary">Send us mail</a>
        <p class="m-t-sm">
          Or follow us on social platform
        </p>
        <ul class="list-inline social-icon">
          <li><a href="https://twitter.com/instanttouchint"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.facebook.com/instanttouchng"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://instagram.com/instanttouchintl"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>© 2017 Instant Touch</strong><br> </p>
      </div>
    </div>
  </div>
</section>