<div class="row border-bottom">
	<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
			<form role="search" class="navbar-form-custom" method="post" action="#">
				<app-user-search-bar [placeholder]="'Search for something'"></app-user-search-bar>
			</form>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<a (click)="logout()">
					<i class="fa fa-sign-out"></i> {{text}}
				</a>
			</li>
		</ul>

	</nav>
</div>